@import "./mixins";

*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Spartan", sans-serif;
  font-size: 15px;
  line-height: 1.4;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url(../images/bg-pattern-bottom-desktop.svg);
  background-size: cover;
  margin: 1rem auto;
  padding: 2rem;

  @media (max-width: 960px) {
    justify-content: flex-start;
  }
}

main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  margin: 0 auto;
  max-width: 1200px;

  @media (max-width: 960px) {
    display: block;

    & > section {
      display: grid;
      justify-content: center;
      align-content: center;
      margin-bottom: 2.5rem;
    }
  }
}

.hero {
  color: $dark-magenta;
  padding-right: 10rem;

  @media (max-width: 960px) {
    grid-column: 1 / -1;
    text-align: center;
    padding: 0;
  }

  h1 {
    font-size: 3rem;
    line-height: 1;
    margin-bottom: 1rem;
  }
  h4 {
    color: $dark-gray-magenta;
    font-weight: 500;
    line-height: 1.6;
  }
}

.rating-section {
  display: flex;
  flex-direction: column;
  flex: 1;

  @media (max-width: 960px) {
    grid-column: 1 / -1;
    justify-content: stretch;

    & > .rating {
      align-self: unset !important;
    }
  }
}

.rating {
  background-color: $light-gray-magenta;
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  border-radius: 6px;
  margin: 0.5rem;

  @media (max-width: 960px) {
    flex-direction: column;

    .stars {
      margin-right: 0;
    }
  }

  &:first-child {
    align-self: flex-start;
  }
  &:nth-child(2) {
    align-self: center;
  }
  &:last-child {
    align-self: flex-end;
  }

  .stars {
    margin-right: 1.5rem;

    @media (max-width: 960px) {
      margin-right: 0;
    }
  }

  p {
    color: $dark-magenta;
    font-weight: 700;
  }
}

.review-section {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;

  @media (max-width: 960px) {
    flex-direction: column;

    & > .review {
      align-self: unset !important;
      width: 100%;
    }
  }
}

.review {
  background-color: $dark-magenta;
  color: $light-gray-magenta;
  padding: 2.5rem;
  border-radius: 1rem;
  width: 31%;

  &:first-child {
    align-self: flex-start;
  }

  &:nth-child(2) {
    align-self: center;
    transform: translateY(1.2rem);
    // margin-top: 1.5rem;
  }

  &:last-child {
    align-self: flex-end;
    transform: translateY(2.4rem);
  }

  .user {
    display: flex;
    align-items: center;
    padding: 0.8rem 0 1.5rem;

    &__img {
      width: 3rem;
      border-radius: 2rem;
      margin-right: 1.5rem;
    }

    &__name {
      font-weight: 700;
      font-size: 14px;
      p:last-child {
        color: rgba($soft-pink, 0.5);
      }
    }
  }

  &__text {
    font-size: 13px;
    line-height: 1.8;
  }
}

footer {
  // position: absolute;
  // bottom: 0;
  width: 100%;
  padding: 1rem;
  margin-top: 2rem;

  .attribution {
    font-size: 10px;
    text-align: center;
    color: $dark-magenta;
  }
  .attribution a {
    color: $dark-magenta;
  }
}
